<div class="text-center mt-3 mb-3">
  <form class="mb-2">
    <i aria-hidden="true" class="fa fa-search mr-2"></i>
      <input
          class="rounded"
          type="search"
          placeholder="Quick search"
          autofocus
          (keyup)="debounce.next($event.target.value)"
          (input)="onSearchChange()"
          [value]="value">
          <!-- event bind: para o evento keyup, pegar tal expressão -->
          <!-- () no template para o component -->
          <!-- [] do component para o template -->
  </form>

  <ap-loading *ngIf="showLoading"></ap-loading>
</div>
